* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  width: 100%; /* Full viewport width */
  background-color: #343a40; /* Darker gray color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
}

.banner ul {
  margin-left: auto;
}

.banner h1 {
  margin: 0;
  font-size: 2rem;
  text-align: left;
  color: #ffffff; /* White text color */
}

.banner li {
  list-style: none;
}

.banner a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.banner a:visited {
  color: #ffffff;
}
